# dependencies
node_modules/

# environment variables
.env
.env.local

# build folders
dist/
build/

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/

# coverage
coverage/